body {
    background: #0b0c12;
    background-size: auto 100vh;
    font-family: Arial;
    color: #fcfcfc;
}

.menu ul {
display: flex;
justify-content: space-evenly;
}

.menu li {
list-style: none;
font-size: 20px;
margin-top: 8px;
}

.menu a:hover {
  background-color: #37b182;
  color: black;
  border: 3px solid white;
  
}

a {
    text-decoration: none;
    color: #37b182;

  }

  p{
    margin: 20px;
    font-size: 20px;
  }


  .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

.form {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  background-color: #37b182;
  padding: 40px;
}

  footer {
    display: flex;
    flex-direction: column;
    background-color: #37b182;
    color: black;
    text-align: center;
    padding: 20px;
    
  }

img {
  border-radius: 50%;
}